# Standard install options
MINIDLNA
# PMS

# WiFi Network Name
SSID MySSID

# Wifi Key
WIFI_KEY Sup3rS3cretKey

# IP Address
IP_ADDRESS 192.168.101.1
NETMASK 255.255.255.0

# DHCP start/end
DHCP_START 192.168.101.100
DHCP_END 192.168.101.200
